#download {
    min-height: 80vh;
}

#download div:nth-child(1) {
    padding: 3em 1em;
}

#download div:nth-child(2) {
    padding: 5em;
}

#download a {
    background-color: #f1ca28;
    border-radius: 42px;
    padding: 21px;
    margin-right: 1.5em;
}

#download a span {
    display: none;
    margin-left: 1em;
    color: white;
}

#download a:hover span {
    display: inline-block;
}

#download a:hover {
    background-color: #40343e;
}

#download ul {
    margin: 2em 0 3em;
}

#download img[alt*=cross] {
    margin: 2.5em 0;
}