#facts {
    height: 20vh;
    background-color: #40343e;
    color: #f1ca28;
}

#facts img {
    float: left;
}

#facts b {
    display: block;
}

#facts small {
    display: block;
    color: white;
}

#facts div:nth-child(1) {
    font-weight: 200;
    text-transform: uppercase;
}

#facts span {
    display: block;
    font-weight: 800;
}