#features {
    min-height: 120vh;
}

#features div[class*=col] {
    text-align: center;
}

#features div[class*=col] img {
    margin: 2em 0;
}

#features h4 {
    text-transform: uppercase;
    margin: 0.5em 1em;
}