#footer {
    background-color: #40343e;
    color: white;
    text-align: center;
}

#footer .container {
    padding: 8em 2em 1.5em;
}

#footer footer {
    margin-top: 10em;
}

#footer p {
    width: 60%;
    margin: 4em auto;
}

#footer-subscribe {
    margin: 2em 0;
}