#header {
    position: relative;
    width: 100%;
    min-height: 85vh;
}

#header b {
    font-weight: 600;
}

#header-background {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #40343e;
    z-index: -1;
}

#header-background img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}

#header-top img {
    margin: 2em 0;
    height: 2em;
    width: auto;
}

#header-top nav {
    margin: 1.5em 0;
    float: right;
}

#header-top nav .nav-link { 
    color: white;
    font-size: 0.85em;
    font-weight: 500;
}

#header-top .nav-link:hover {
    color: #f1ca28;
}

#header-slider {
    color: white;
    max-height: 60%;
}

#header-slider img { height: 30em; }

#header-slider .content { margin: 5em 0; }

#header-slider div { height: 100%; }

#header-slider h2, #header-slider h3, #header-slider a { text-transform: uppercase; }

#header-slider h3 { font-weight: 400; }

#header-slider h2 {
    font-size: 4.2em;
    font-weight: 200;
    color: #f1ca28;
}

#header-slider p {
    font-family: "Open Sans";
    font-size: 0.85em;
    margin-bottom: 4em;
}

#header-slider a {
    margin-right: 2em;
    text-decoration: none;
    color: white;
    border: 2px white solid;
    border-radius: 25px;
    padding: 1em 1.5em;
}

#header-slider a:hover {
    border-color: #f1ca28;
    color: #f1ca28;
}