#form {
    background-color: #F1F1DD;
    font-size: 1em;
    padding: 4em;
}

#form input, #form select {
    margin: 0.5em;
    font-size: 1em;
}

#form button {
    font-size: 1em;
    padding: 0.5em;
}