#game {
    position: relative;
    height: 50%;
}

div[id*=stack] {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 15%;
}

#stack1 {
    left: 5%;
}

#stack2 {
    left: 0;
    right: 0;
    margin: 0 auto;
}

#stack3 {
    right: 5%;
}

.disk {
    margin: 0 auto;
    border-radius: 5px;
    display: block;
    height: 2em;
    background-color: #3e3e3e;
}

#score {
    text-align: center;
    font-size: 4em;
}